<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Login form</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
   <!-- partial:index.partial.html -->
   <div class="logo text-center">
      <h1>Restaurant Rating System</h1>
   </div>
   <div class="wrapper">
      <div class="inner-warpper text-center">
         <h2 class="title">Login to your account</h2>
         <form id="formvalidate" action="{{ url_for('login') }}" method="post">
            <div class="input-group">
               <label class="palceholder" for="email">Email</label>
               <input class="form-control" name="email" id="email" type="text" placeholder="" />
               <span class="lighting"></span>
            </div>
            <div class="input-group">
               <label class="palceholder" for="userPassword">Password</label>
               <input class="form-control" name="userPassword" id="userPassword" type="password" placeholder="" />
               <span class="lighting"></span>
            </div>

            <button type="submit" id="login">Login</button>
            <!-- <div class="clearfix supporter">
               <div class="pull-left remember-me">
                  <input id="rememberMe" type="checkbox">
                  <label for="rememberMe">Remember Me</label>
               </div>
               <a class="forgot pull-right" href="#">Forgot Password?</a>
            </div> -->
         </form>
         <!-- show error (if) -->
         
         <div class="error">
            {% if error %}
            <p>Username or Password is incorrect</p>
            {% endif %}
         </div>
      </div>
      <div class="signup-wrapper text-center">
         <a href="/signup">Don't have an accout? <span class="text-primary">Create One</span></a>
      </div>
   </div>
   

   <!-- partial -->
   <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script>
   <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
