<!DOCTYPE html>
<html>

<head>
   <title>Restaurant Feedback</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
</head>

<body>
   <div class="container">
      <h1>Restaurant Feedback</h1>
      <form action="{{ url_for('rating') }}" method="post">
         <input type="hidden" name="id" value="{{ id }}">
         <label for="overall_rating">Overall Rating:</label>
         <select id="overall_rating" name="overall_rating">
            <option value="">-- Select rating --</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
         </select>

         <label for="food_rating">Food Rating:</label>
         <select id="food_rating" name="food_rating">
            <option value="">-- Select rating --</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
         </select>

         <label for="ambience_rating">Ambience Rating:</label>
         <select id="ambience_rating" name="ambience_rating">
            <option value="">-- Select rating --</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
         </select>

         <label for="service_rating">Service Rating:</label>
         <select id="service_rating" name="service_rating">
            <option value="">-- Select rating --</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
         </select>

         <Button type="submit">Submit</Button>
      </form>
   </div>
</body>

</html>
