<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="./Assets/images/chef-hat.png" type="image/x-icon">
   <link rel="stylesheet" href="./Content/appMediaWueries.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <title>Cool website name</title>
</head>

<body>
   <!-- <nav class="navigation-section">
        <div>
            <span><i class="fa-solid fa-utensils"></i></span>
        </div>
        <div>
            <button>Login</button>
            <button>Create Account</button>
        </div>
    </nav> -->

   <div class="topnav">
      <a class="active" href="/">Search</a>
      <a href="./update">Update</a>
   </div>

   <div class="mainHeading">

      <h1>Cool Website Name</h1>
   </div>

   <div class="container">
      <aside>
         <!-- <div class="openButton" id="open-btn">
                <button>Filters / Sort <i class="fa-solid fa-arrow-down"></i></button>
            </div> -->
         <div class="right">
            <h2>Filters</h2>
            <form action='/search'>
               <div>
                  <h3>Select Location</h3>
                  <!-- enter pincode -->
                  <input id="pincode" type="number" placeholder="Enter Pincode" , name="pincode">

               </div>
               <div>
                  <h3>Cuisine</h3>
                  <div class="cuisine">
                     <input id="cuisine" type="text" placeholder="Enter Cuisine" , name="cuisine">
                  </div>
               </div>
               <div>
                  <h3>Dish</h3>
                  <div class="cuisine">
                     <input id="cuisine" type="text" placeholder="Enter Dish" , name="dish">
                  </div>
               </div>
               <div>
                  <h3>Cost For Two</h3>
                  <div class="pricesList">
                     <!-- drop down menu -->
                     <select id="price" , name="price">
                        <option value="0">Select</option>
                        <option value="1">💸</option>
                        <option value="2">💸💸</option>
                        <option value="3">💸💸💸</option>
                        <option value="4">💸💸💸💸</option>
                     </select>
                  </div>
               </div>
               <!-- form submit button  -->
               <button id="submit-btn">Apply</button>
            </form>
         </div>
      </aside>

      <main>
         <!-- iterate through the list -->
         {% for restaurant in restaurants %}
            <div id="card">
               <h2>{{ restaurant.name }}</h2>
               <p><Address>{{ restaurant.address }}</Address></p>
               <p>Price Range: {{ restaurant.priceRange }}</p>
               <form action="/showMenu" method="GET">
                  <input type="hidden" name="id" value="{{ restaurant.id }}">
                  <input type="hidden" name="name" value="{{ restaurant.name }}">
                  <button type="submit" class = "menuButton">View Menu</button>
               </form>
            </div>
         {% endfor %}

      </main>

   </div>
</body>
<script src="https://kit.fontawesome.com/b98b113d2c.js" crossorigin="anonymous"></script>
<script src="app.js"></script>
<script src="index.js"></script>

</html>
