<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <title>Cool website name</title>
</head>

<body>

   <div class="topnav">
      <a href="/">Search</a>
      <a class="active" href="./update.html">Update</a>
   </div>

   <div class="mainHeading">

      <h1>Cool Website Name</h1>
   </div>

   <div class="container">
      <aside>
         <!-- <div class="openButton" id="open-btn">
            <button>Filters / Sort <i class="fa-solid fa-arrow-down"></i></button>
         </div> -->
         <div class="right">
            <h2>Filters</h2>
            <div>
               <h3>Select Location</h3>
               <!-- enter pincode -->
               <input id="pincode" type="number" placeholder="Enter Pincode">

            </div>
            <div>
               <h3>Cuisine</h3>
               <div class="cuisine">

               </div>
            </div>

            <div>
               <h3>Cost For Two</h3>
               <div class="pricesList">

               </div>
            </div>
         </div>
      </aside>

      <main>
      </main>
   </div>
</body>
<script src="https://kit.fontawesome.com/b98b113d2c.js" crossorigin="anonymous"></script>

</html>
